.table-entry {
    padding: 0.5em 0;
    text-align: center;
    vertical-align: middle;
}
.table-input {
    border: none;
    width: 3em;
    text-align: right;
}

span.difficulty-circle {
    display: inline-block;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
    height: 12px;
    width: 12px;
}

span.black {
    border-color: rgb(0, 0, 0);
    background: linear-gradient(to top, rgb(0, 0, 0) 99.75%, rgba(0, 0, 0, 0) 99.75%) border-box border-box;
}
span.gray {
    border-color: rgb(128, 128, 128);
    background: linear-gradient(to top, rgb(128, 128, 128) 99.75%, rgba(0, 0, 0, 0) 99.75%) border-box border-box;
}
span.brown {
    border-color: rgb(128, 64, 0);
    background: linear-gradient(to top, rgb(128, 64, 0) 99.75%, rgba(0, 0, 0, 0) 99.75%) border-box border-box;
}
span.green {
    border-color: rgb(0, 128, 0);
    background: linear-gradient(to top, rgb(0, 128, 0) 99.75%, rgba(0, 0, 0, 0) 99.75%) border-box border-box;
}
span.cyan {
    border-color: rgb(0, 192, 192);
    background: linear-gradient(to top, rgb(0, 192, 192) 99.75%, rgba(0, 0, 0, 0) 99.75%) border-box border-box;
}
span.blue {
    border-color: rgb(0, 0, 255);
    background: linear-gradient(to top, rgb(0, 0, 255) 99.75%, rgba(0, 0, 0, 0) 99.75%) border-box border-box;
}
span.yellow {
    border-color: rgb(192, 192, 0);
    background: linear-gradient(to top, rgb(192, 192, 0) 99.75%, rgba(0, 0, 0, 0) 99.75%) border-box border-box;
}
span.orange {
    border-color: rgb(255, 128, 0);
    background: linear-gradient(to top, rgb(255, 128, 0) 99.75%, rgba(0, 0, 0, 0) 99.75%) border-box border-box;
}
span.red {
    border-color: rgb(255, 0, 0);
    background: linear-gradient(to top, rgb(255, 0, 0) 99.75%, rgba(0, 0, 0, 0) 99.75%) border-box border-box;
}
span.bronze {
    border-color: rgb(150, 92, 44);
    background: linear-gradient(to right, rgb(150, 92, 44), rgb(255, 218, 189), rgb(150, 92, 44));
}
span.silver {
    border-color: rgb(128, 128, 128);
    background: linear-gradient(to right, rgb(128, 128, 128), white, rgb(128, 128, 128));
}
span.gold {
    border-color: rgb(255, 215, 0);
    background: linear-gradient(to right, rgb(255, 215, 0), white, rgb(255, 215, 0));
}